extends layout 

block content 
    section 
        h1 Category: #{category.name}
        p #{category.description}

        h2 Items

        if category_items.length
            ul
                each item in category_items
                    li
                        .name
                            a(href=item.url) #{item.name}
                        .description
                            | #{item.description}
                        br
        else
            p This category has no items.
        hr
        a(href=category.url+"/delete") Delete category