extends layout

block content
    section
        h1 #{item.name}
        p #{item.description}
        p #[strong Price: ] #{item.price}$
        p #[strong Number In Stock: ] #{item.number_in_stock}
        p #[strong Category: ]
            if category && category.length > 0
                each cat, index in category
                    a(href=`/inventory/category/${cat.id}`) #{cat.name}
                    if index < category.length - 1
                        |,&nbsp;
            else
                | None
        hr
        .actions
            a(href=item.id+"/update") Update item
            a(href=item.id+"/delete") Delete item
